*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:#f2f5f9;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;

}

.container{

    width:500px;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0px 0px 15px rgba(0,0,0,0.2);

}

h1{

    text-align:center;
    margin-bottom:20px;
    color:#333;

}

.input-box{

    display:flex;
    gap:10px;
    margin-bottom:20px;

}

input{

    flex:1;
    padding:10px;
    font-size:16px;
    border:1px solid gray;
    border-radius:5px;

}

button{

    padding:10px 20px;
    background:green;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;

}

button:hover{

    background:darkgreen;

}

h2{

    margin-top:20px;
    margin-bottom:10px;

}

ul{

    list-style:none;

}

li{

    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#eeeeee;
    padding:12px;
    margin-top:10px;
    border-radius:5px;

}

.delete{

    background:red;
    color:white;
    border:none;
    padding:8px 15px;
    border-radius:5px;
    cursor:pointer;

}

.delete:hover{

    background:darkred;

}

p{

    margin-top:10px;
    font-weight:bold;

}