h1{
   color:seagreen;
}
p{
    text-transform:uppercase;
    font-weight: bold;
}
.highlight{
         color:red;
}
#title{
    background-color: blue;
}
h2{
    background-color: aliceblue;
    color: blue;
    font-size: 36px;
    text-align: center;
    text-transform:capitalize ;
}